body{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgb(223, 245, 239);
	color: black;
	font-size: 20px;
}


header{
	position: fixed;

	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 20px;

	width: 100%;
	height: 2em;

	display: flex;
	float: left;
}

header > div{
	margin: 0 1em;
	display: flex;
	height: 100%;
	align-items: center;
}

header > div > a{
	color: white;
	text-decoration: none;
}

header > .float-left{
	margin-right: auto;
}

header > .float-right{
	margin-left: auto;
}

#data-outer-div{
	margin: 0px 300px;
}

#title-div > h1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	height: 4em;
}

.place{
	height: 2em;
}
/*
div{
	border: 1pt black solid;
}
*/
#data-inner-div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#data-inner-div > div{
	width: 400px;
	height: 400px;
}

#story-article{
	text-align: justify; 
}

#story-article > p{
	margin: 1em;
}

#pic-div > img{
	width: 400px;
	height: 400px;
	border: 5px solid lightgray;
}

#data-list-div{
	display: flex;
	justify-content: center;
}

#data-list-div > ul > li{
	margin: 1em;
}
